body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #333333;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}
footer{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  margin-top: 20px;
  border-top: #522D80 solid;
  padding-top: 8px;
  margin-top: 20px;
  background-color: #333333;
  color: #F56600;
}

.jumbotron {
  text-align: center;
  background-color: #333333;
  color: #F56600;
  border-radius: 0;
  border-bottom: 10px solid #522D80;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  padding-top: 32px;
  text-align: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid #333333;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #522D80;
  color: white;
}

.present {
  background-color: #F56600;
  color: white;
}

.future {
  background-color: #546223;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}


